
  <div class="container">
   <div class="row">

   	  <div class="col-lg-3" ></div>
        <div class="col-lg-6">

	<h1>welcome to
	<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers !!</h1>

<div class="top-message" style = "font-family:verdana, arial;" >
<h6>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong> Bookers,</strong><br>
<br>
you can share and exchange your opinions , inpressions , and emotions<br>
<br>
about varioius books!</h6>

</div>

<div class="btn btn-group-vertical" style = "width: 100%;">
<%= link_to " Log in" ,new_user_session_path,class: " btn btn-info  btn-block login" %>
<%= link_to " Sign Up" ,new_user_registration_path,class: " btn btn-success  btn-block signup"  %>
</div>

   </div>
     <div class="col-lg-3"></div>
   </div>
  </div>
