<h1>welcome to Bookers !!<br>
In Bookers,<br>

you can share and exchange your opinions , inpressions , and<br>
emotions<br>

about varioius books!</h1>

<%= link_to "Log in" ,new_user_session_path %><br>
<%= link_to "Sign up" ,new_user_registration_path %>